{% extends 'base.html' %}
{% load group_tags %}
{% block title %}Manage Articles{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Manage Articles (All Statuses)</h2>
    {% if user|has_group:"Journalist" %}
     <a href="{% url 'article-create' %}" class="btn btn-success mb-3">+ New Article</a>
    {% endif %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Status</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.publisher|default:"Independent" }}</td>
                <td>
                    {% if article.approved %}
                        <span class="badge bg-success">Approved</span>
                    {% else %}
                        <span class="badge bg-warning">Pending</span>
                    {% endif %}
                </td>
                <td>{{ article.created_at|date:"M d, Y" }}</td>
              <td>
                <a href="{% url 'article-update' article.pk %}" class="btn btn-sm btn-warning">Edit</a>
                
                {% if article.author == request.user or is_editor %}
                    <a href="{% url 'article-delete' article.pk %}" 
                    class="btn btn-danger btn-sm"
                    onclick="return confirm('Are you sure you want to delete this article?')">
                        Delete
                    </a>
                {% endif %}

                {% if not article.approved and is_editor %}
                    <a href="{% url 'approve-article' article.pk %}" class="btn btn-sm btn-success">Approve</a>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}