{% extends 'base.html' %}

{% block title %}Subscribe to Publishers{% endblock %}

{% block content %}
<h2>Available Publishers</h2>

<ul>
    {% for publisher in publishers %}
    <li>
        <strong>{{ publisher.name }}</strong>
        {% if publisher in request.user.subscriptions_publishers.all %}
            <a href="{% url 'unsubscribe-publisher' publisher.pk %}">Unsubscribe</a>
        {% else %}
            <a href="{% url 'subscribe-publisher' publisher.pk %}">Subscribe</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}